## Connectivity with database

In [3]:
import mysql.connector

In [4]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@1234"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000274A5EC6E80>

In [7]:
#creating database
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE db")

In [8]:
#to display list of databases
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('db',)
('information_schema',)
('mysql',)
('performance_schema',)
('person',)
('sakila',)
('study',)
('sys',)
('world',)

In [9]:
#create table
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@1234",
    database="study"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customers(cno int primary key,cname VARCHAR(30),city VARCHAR(15))")

In [12]:
#add column into the table
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@1234",
    database="study"
)
mycursor=mydb.cursor()
mycursor.execute("ALTER TABLE customers ADD COLUMN cage int")

In [13]:
mycursor=mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customers',)
('player',)

In [24]:
#inserting records into the table
sql="INSERT INTO customers values(104,'Vijay','Hyderabad',30)"
mycursor.execute(sql)
mydb.commit()

In [26]:
#fetching single record from table
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@1234",
    database="study"
)
mycursor=mydb.cursor()
mycursor.execute("select * from customers")
res=mycursor.fetchone()
print(res)

(101, 'Durvankur', 'Pune', 20)

In [28]:
#fetching all records from table
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root@1234",
    database="study"
)
mycursor=mydb.cursor()
mycursor.execute("select * from customers")
res=mycursor.fetchall()
for x in res:
    print(x)
#print(res)

(101, 'Durvankur', 'Pune', 20)
(102, 'Manas', 'Sangamner', 19)
(103, 'Vaishnavi', 'Pune', 20)
(104, 'Vijay', 'Hyderabad', 30)
(105, 'Virat', 'Delhi', 32)