In [1]:
import pymongo 
myclient=pymongo.MongoClient("mongodb+srv://durvankur:root1234@cluster0.1ztn1.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [2]:
mydb=myclient["test"]
mycol=mydb["product"]
mydict={"pname":"Bike","Price":150000}
x=mycol.insert_one(mydict)
print("Record inserted")

Record inserted

In [5]:
mydb=myclient["test"]
mycol=mydb["product"]
myquery={"pname":"TV"}
newvalues={"$set":{"brand":"Sony"}}
mycol.update_one(myquery,newvalues)
print("Record updated")

Record updated

In [26]:
mydb=myclient["MIT"]
mycol=mydb["student"]
mydict={"studname":"John","div":"A","subject":"C++"}
mycol.insert_one(mydict)
print("Record Inserted")

Record Inserted

In [10]:
mydb=myclient["MIT"]
mycol=mydb["student"]
mylist=[{"studname":"Manas","div":"A","subject":"Java"},{"studname":"Durvankur","div":"A","subject":"PHP"}]
mycol.insert_many(mylist)
print("Records inserted")

Records inserted

In [28]:
mydb=myclient["MIT"]
mycol=mydb["student"]
for i in mycol.find():
    print(i)

{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}
{'_id': ObjectId('6051c8db5a6556e6bf1c0ebf'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}
{'_id': ObjectId('6051cb105a6556e6bf1c0ec0'), 'studname': 'Manas', 'div': 'A', 'subject': 'C++'}
{'_id': ObjectId('6051cbde5a6556e6bf1c0ec1'), 'studname': 'John', 'div': 'A', 'subject': 'C++'}

In [17]:
mydb=myclient["MIT"]
mycol=mydb["student"]
a=mycol.find_one()
print(a)

{'_id': ObjectId('6051c7d65a6556e6bf1c0ebc'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}

In [18]:
mydb=myclient["MIT"]
mycol=mydb["student"]
myquery={"studname":"Durvankur"}
mydoc=mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}

In [27]:
mydb=myclient["MIT"]
mycol=mydb["student"]
myquery={"div":"A"}
mydoc=mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}
{'_id': ObjectId('6051c8db5a6556e6bf1c0ebf'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}
{'_id': ObjectId('6051cb105a6556e6bf1c0ec0'), 'studname': 'Manas', 'div': 'A', 'subject': 'C++'}
{'_id': ObjectId('6051cbde5a6556e6bf1c0ec1'), 'studname': 'John', 'div': 'A', 'subject': 'C++'}

In [23]:
mydb=myclient["MIT"]
mycol=mydb["student"]
mydoc=mycol.find().sort("studname",-1)
for x in mydoc:
    print(x)

{'_id': ObjectId('6051cb105a6556e6bf1c0ec0'), 'studname': 'Manas', 'div': 'A', 'subject': 'C++'}
{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}
{'_id': ObjectId('6051c7d65a6556e6bf1c0ebc'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}
{'_id': ObjectId('6051c8db5a6556e6bf1c0ebf'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}

In [24]:
mydb=myclient["MIT"]
mycol=mydb["student"]
mydoc=mycol.find().sort("div")
for x in mydoc:
    print(x)

{'_id': ObjectId('6051c7d65a6556e6bf1c0ebc'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}
{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}
{'_id': ObjectId('6051c8db5a6556e6bf1c0ebf'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}
{'_id': ObjectId('6051cb105a6556e6bf1c0ec0'), 'studname': 'Manas', 'div': 'A', 'subject': 'C++'}

In [25]:
mydb=myclient["MIT"]
mycol=mydb["student"]
myquery={"studname":"ABC"}
mycol.delete_one(myquery)
print("Record Deleted")

Record Deleted

In [29]:
mydb=myclient["MIT"]
mycol=mydb["student"]
for i in mycol.find().limit(2):
    print(i)

{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}
{'_id': ObjectId('6051c8db5a6556e6bf1c0ebf'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}

In [31]:
mydb=myclient["MIT"]
mycol=mydb["student"]
myquery={"studname":"John"}
newvalues={"$set":{"div":"B"}}
mycol.update_one(myquery,newvalues)
print("record updated")
for x in mycol.find():
    print(x)

record updated
{'_id': ObjectId('6051c8725a6556e6bf1c0ebe'), 'studname': 'Durvankur', 'div': 'A', 'subject': 'PHP'}
{'_id': ObjectId('6051c8db5a6556e6bf1c0ebf'), 'studname': 'ABC', 'div': 'A', 'subject': 'python'}
{'_id': ObjectId('6051cb105a6556e6bf1c0ec0'), 'studname': 'Manas', 'div': 'A', 'subject': 'C++'}
{'_id': ObjectId('6051cbde5a6556e6bf1c0ec1'), 'studname': 'John', 'div': 'B', 'subject': 'C++'}

In [34]:
mydb=myclient["MIT"]
mycol=mydb["stud"]
mycol.drop()
print("collection deleted")

collection deleted