In [2]:
import pandas as pd
m1 = pd.read_csv("emp.csv")
print(m1)

   eno      ename dept        des
0    1  Durvankur   HR       Head
1    2      Manas   IT  Developer
2    3     Sachee   IT    Analyst
3    1  Durvankur   HR    Manager

In [3]:
print(m1.duplicated())

0    False
1    False
2    False
3    False
dtype: bool

In [13]:
import csv
with open("emp.csv","r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['eno', 'ename', 'dept', 'des']
['1', 'Durvankur', 'HR', 'Head']
['2', 'Manas', 'IT', 'Developer']
['3', 'Sachee', 'IT', 'Analyst']
['1', 'Durvankur', 'HR', 'Manager']

In [14]:
import pandas as pd
m1 = pd.read_csv("emp.csv")
d1 = m1.dropna()
print(d1.to_string())

   eno      ename dept        des
0    1  Durvankur   HR       Head
1    2      Manas   IT  Developer
2    3     Sachee   IT    Analyst
3    1  Durvankur   HR    Manager

In [38]:
student={
    "Name":["ABC","XYZ","DEF"],
    "Class":["FY","SY","TY"]
}
r1 = pd.DataFrame(student,index=["Btech","BCS","BCA"])
print(r1)

      Name Class
Btech  ABC    FY
BCS    XYZ    SY
BCA    DEF    TY

In [18]:
student={
    "Name":["ABC","XYZ","DEF"],
    "Class":["FY","SY","TY"]
}
r1 = pd.DataFrame(student)
print(r1.loc[0])

Name     ABC
Class     FY
Name: 0, dtype: object

In [20]:
student={
    "Name":["ABC","XYZ","DEF"],
    "Class":["FY","SY","TY"]
}
r1 = pd.DataFrame(student)
print(r1.loc[[0,1]])

  Name Class
0  ABC    FY
1  XYZ    SY

In [4]:
student={
    "Name":["ABC","XYZ","DEF"],
    "Class":["FY","SY","TY"]
}
r1 = pd.DataFrame(student)
print(r1.loc[0:2])

  Name Class
0  ABC    FY
1  XYZ    SY
2  DEF    TY

In [41]:
import pandas as pd
n1=pd.read_csv("mobproduct.csv")
print(n1)

   pno             pname      brand     price
0    1             Mi A3     Xiaomi   16000.0
1    2       Samsung A51    Samsung       NaN
2    3  Redmi Note 8 Pro     Xiaomi   14999.0
3    4     Iphone 12 pro  Apple.Inc  120000.0

In [36]:
import pandas as pd
n1=pd.read_csv("mobproduct.csv",index_col="pno")
m=n1.dropna()
print(m)

                pname      brand     price
pno
1               Mi A3     Xiaomi   16000.0
3    Redmi Note 8 Pro     Xiaomi   14999.0
4       Iphone 12 pro  Apple.Inc  120000.0

In [37]:
import pandas as pd
n1=pd.read_csv("mobproduct.csv")
print(n1.duplicated())

0    False
1    False
2    False
3    False
dtype: bool

In [40]:
import pandas as pd
n1=pd.read_csv("mobproduct.csv",index_col="pno")
print(n1)

                pname      brand     price
pno
1               Mi A3     Xiaomi   16000.0
2         Samsung A51    Samsung       NaN
3    Redmi Note 8 Pro     Xiaomi   14999.0
4       Iphone 12 pro  Apple.Inc  120000.0