## How to create a dictionary

In [5]:
dict1={
    "Name":"Durvankur",
    "Age":25,
    "Subject":"Python"
}

In [15]:
dict1

{'Name': 'Durvankur', 'Age': 25, 'Subject': 'Python', 'Roll no': 407}

In [7]:
dict2={
    "pno":"P-101",
    "pname":"TV",
    "price":40000
}

In [10]:
print(dict2["price"])

40000

In [11]:
print(dict1["Name"])

Durvankur

In [13]:
dict1["Roll no"]=407

In [14]:
print(dict1)

{'Name': 'Durvankur', 'Age': 25, 'Subject': 'Python', 'Roll no': 407}

In [16]:
dict1["Name"]="Rohit"

In [17]:
print(dict1)

{'Name': 'Rohit', 'Age': 25, 'Subject': 'Python', 'Roll no': 407}

## Dictionary Comprehension

In [18]:
#dict_name={experession for_loop condition}

In [20]:
squares={i:i*i for i in range(1,11)}

In [21]:
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [22]:
cubes={i:i*i*i for i in range(1,7)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

## Getting word count as a Dictionary

In [4]:
sentence=input("Enter the sentence")
words=sentence.split(" ")
count_words={word:len(word) for word in words}
print(count_words)

Enter the sentenceI am Iron Man
{'I': 1, 'am': 2, 'Iron': 4, 'Man': 3}

## Methods in Dictionary

In [5]:
dict2={
    "sno":101,
    "sname":"Durvankur",
    "marks":60
}
print(dict2)

{'sno': 101, 'sname': 'Durvankur', 'marks': 60}

In [7]:
#keys() function will return the keys of the dictionary
dict2.keys()

dict_keys(['sno', 'sname', 'marks'])

In [8]:
#values() will return values of the keys of dictionary
dict2.values()

dict_values([101, 'Durvankur', 60])

In [9]:
dict3=dict2.copy()

In [10]:
print(dict3)

{'sno': 101, 'sname': 'Durvankur', 'marks': 60}

In [11]:
dict2.pop('marks')

60

In [12]:
dict2

{'sno': 101, 'sname': 'Durvankur'}

## Sets

In [16]:
#sets are immutable
#we can create set using {}
#set doesn't have any index or order

In [18]:
s1={1,2,3,4,5,6,7,8,9,10}

In [19]:
type(s1)

set

In [20]:
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
s2={10,25,70,40}

In [24]:
s2

{10, 25, 40, 70}

In [27]:
#As dictionary and set have same syntax so we have to use set() function to create empty set
y=set({})

In [26]:
type(y)

set

In [28]:
s2

{10, 25, 40, 70}

In [29]:
s2.add(35)

In [30]:
s2

{10, 25, 35, 40, 70}

In [31]:
s2.remove(40)

In [32]:
s2

{10, 25, 35, 70}

In [33]:
s2.discard(100)

In [34]:
s2.discard(70)

In [35]:
s2

{10, 25, 35}

In [36]:
s2.pop()

35

## Set Operations

In [1]:
s1={1,2,3,4}

In [2]:
s2={5,6,7,8}

In [3]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
s3={10,11,12,13,14}

In [5]:
s4={13,14,15,16,17,18}

In [6]:
s3.union(s4)

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [7]:
s3|s4

{10, 11, 12, 13, 14, 15, 16, 17, 18}

In [8]:
s3&s4

{13, 14}

In [9]:
s3.intersection(s4)

{13, 14}

In [10]:
s1.intersection(s2)

set()

In [11]:
s1-s2

{1, 2, 3, 4}

In [12]:
s2-s3

{5, 6, 7, 8}

In [13]:
s3-s4

{10, 11, 12}

In [14]:
s4-s3

{15, 16, 17, 18}