## Creating a list

In [3]:
#List->Collection of data
lst1=["Hello",1,2,3]

In [5]:
lst1

['Hello', 1, 2, 3]

## Nested Lists,List Indexing,List Slicing

In [6]:
l1=[1,2,3,[4,5,6]]

In [7]:
l1

[1, 2, 3, [4, 5, 6]]

In [10]:
l1[-1]

[4, 5, 6]

In [11]:
l1[0]

1

In [1]:
l2=[1.1,10,12,20,2.5]

In [2]:
l2[-1]

2.5

In [3]:
l2[0]

1.1

In [7]:
l1

[1, 2, 3, [4, 5, 6]]

In [9]:
l1[3]

[4, 5, 6]

In [10]:
l1[3][1]

5

In [14]:
l3=[10,20,30,[40,50,[60,70,80]],90]

In [15]:
l3

[10, 20, 30, [40, 50, [60, 70, 80]], 90]

In [16]:
l3[3][2][2]

80

In [18]:
l3[0:4]

[10, 20, 30, [40, 50, [60, 70, 80]]]

## Change the values in a list

In [19]:
sq=[1,4,9,16,24,36,48,64,81]

In [20]:
sq[4]=25

In [21]:
sq

[1, 4, 9, 16, 25, 36, 48, 64, 81]

In [22]:
sq[-3]=49

In [23]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Adding elements to the list

In [37]:
## we have two function which can be used to add elements to the list
##append and extend
##when we want to add a single element we can use append
##when we want to add more than one element we can use extend

In [5]:
m1=[1,2,3,4]

In [6]:
m1.append(5)

In [7]:
m1

[1, 2, 3, 4, 5]

In [8]:
type(m1)

list

In [9]:
m1.extend([5,6,7,8])

In [10]:
m1

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [11]:
m1.remove(5)

In [12]:
m1

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
m1.append([9,10,11])

In [14]:
m1

[1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11]]

In [15]:
m1.remove([9,10,11])

In [16]:
m1

[1, 2, 3, 4, 5, 6, 7, 8]

## Some List Methods

In [39]:
##sum(),max(),min(),len(),any(),all()

In [17]:
m1.insert(-1,12)

In [18]:
m1

[1, 2, 3, 4, 5, 6, 7, 12, 8]

In [19]:
m1.sort()

In [20]:
m1

[1, 2, 3, 4, 5, 6, 7, 8, 12]

In [21]:
m1.sort(reverse=True)

In [22]:
m1

[12, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
m1.sort()

In [48]:
m1

[1, 2, 3, 4, 5, 6, 7, 8, 12]

In [23]:
m1.reverse()

In [24]:
m1

[1, 2, 3, 4, 5, 6, 7, 8, 12]

In [25]:
m1.pop(-1)

12

In [26]:
m1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
m1.reverse()

In [ ]:
m1

In [2]:
l4=[10,10,11,12,13,14,14,15,16]

In [3]:
l4.count(10)

2

In [4]:
l4.count(14)

2

In [6]:
##If we pass value which is not present in our list it will not throw any error and will return 0 value
l4.count(20)

0

In [7]:
squares=[1,4,9,16,25]

In [8]:
squares.index(1)

0

In [9]:
lst=squares.copy()

In [10]:
lst

[1, 4, 9, 16, 25]

## Palindrome Code

In [15]:
s1=input("Enter a string")
rev_str=s1[::-1]
if s1==rev_str:
    print("String is pallindrome")
else:
    print("String is not a pallindrome")

Enter a stringmadam
String is pallindrome

## List Comprehension

In [21]:
square=[i*i for i in range(1,16)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [26]:
s1=[i*i for i in range(1,11) if i%2==0]
print(s1)

[4, 16, 36, 64, 100]

In [28]:
evens=[i for i in range(1,101) if i%2==0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [35]:
odds=[i for i in range(1,101) if i%2!=0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [37]:
list1=[1,2,3,4,5,6]
list2=[5,6,7,8,9,10]
list3=[i for i in list1 if i in list2]
print(list3)

[5, 6]

## Problem Sheet Codes

In [78]:
arr=[1,2,3,3,4,5,1,1,6,7,8]
n=len(arr)
lst=[i for i in arr for j in arr if arr[i]==arr[j]]
print(lst)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 5, 1, 1, 1, 1, 1, 1, 6, 6, 7, 7, 8]

In [29]:
arr2=[1,2,3,4,5,6,-7,-8,-9,-10]
lst=[i if i<0 print(i) else print(i) for i in arr2]

SyntaxError: invalid syntax (<ipython-input-29-482c67fee343>, line 2)

In [82]:
arr1=[1,2,3,4,5,6,7]
arr1.remove(7)
print(arr1)

[1, 2, 3, 4, 5, 6]

In [92]:
arr2=[1,2,3,4,5,6,7,8,9,10,11]
n=len(arr2)
result=[i*2 if i%2==0 else i*-1 for i in range(1,n+1)]
print(result)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20, -11]

## join method

In [93]:
words=["My","Name","is","Durvankur","Balkawade"]
st=" ".join(words)
print(st)

My Name is Durvankur Balkawade

## How to get list through user input

In [94]:
new_lst=[]
n=int(input("Enter size of the list"))
for i in range(0,n):
    a=int(input())
    new_lst.append(a)
print(new_lst)

Enter size of the list5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [95]:
n=int(input("Enter size of the list"))
lst1=[int(input()) for i in range(0,n)]
print(lst1)

Enter size of the list10
1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Tuples

In [1]:
t1=(1,2,3,4,5)

In [2]:
t1

(1, 2, 3, 4, 5)

In [3]:
type(t1)

tuple

In [4]:
t2=1,2,3,4

In [5]:
type(t2)

tuple

In [6]:
t3=(1,1.1,2,"Hello")

In [7]:
t3

(1, 1.1, 2, 'Hello')

In [14]:
t4=(1,)

In [15]:
type(t4)

tuple

In [16]:
t5=(1,4,9,16,25)

In [17]:
t5[1]

4

In [19]:
t5[1:5]

(4, 9, 16, 25)

In [21]:
t5[-1]

25

## Problem Sheet Codes(Tuples)